apiVersion: v1
kind: Service
metadata:
  name: spark-service
  namespace: spark
spec:
  selector:
    app: spark
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
    name: http
  type: LoadBalancer
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800

