openapi: 3.0.3
info:
  title: WIS2L Framework API
  description: |
    Comprehensive API documentation for the WIS2L Framework - LumenForge.io Ecosystem
    
    ## Authentication
    All protected endpoints require JWT authentication via the `Authorization` header:
    ```
    Authorization: Bearer <token>
    ```
    
    Tokens are issued by nocturnaID.org and validated using JWKS.
    
    ## Rate Limiting
    Rate limits are applied based on user tier:
    - Free: 10 requests/hour
    - Pro: 100 requests/hour
    - Enterprise: 1000 requests/hour
    
    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Request limit
    - `X-RateLimit-Remaining`: Remaining requests
    - `X-RateLimit-Reset`: Reset timestamp
    
  version: 1.0.0
  contact:
    name: LumenForge.io
    url: https://lumenforge.io
    email: support@lumenforge.io

servers:
  - url: https://api.lumenforge.io
    description: Production server
  - url: http://localhost:3000
    description: Development server

tags:
  - name: Health
    description: Health check endpoints
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User management
  - name: Projects
    description: Project management
  - name: Components
    description: Component management
  - name: Builds
    description: Build management
  - name: Deployments
    description: Deployment management (WAYPOINT)
  - name: Templates
    description: Template management (IGNITION)
  - name: Tokens
    description: Design token management
  - name: Metrics
    description: Monitoring and metrics

paths:
  /api/health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check the health status of all services
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/auth/verify:
    get:
      tags:
        - Auth
      summary: Verify token
      description: Verify the validity of an authentication token
      operationId: verifyToken
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerification'
        '401':
          description: Token is invalid or missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/auth/refresh:
    post:
      tags:
        - Auth
      summary: Refresh token
      description: Refresh an access token using a refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/users:
    get:
      tags:
        - Users
      summary: List users
      description: Get a paginated list of users
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - name: email
          in: query
          description: Filter by email
          schema:
            type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Users
      summary: Create user
      description: Create a new user
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/users/{id}:
    get:
      tags:
        - Users
      summary: Get user
      description: Get a user by ID
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/projects:
    get:
      tags:
        - Projects
      summary: List projects
      description: Get a paginated list of projects
      operationId: listProjects
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
        - name: userId
          in: query
          description: Filter by user ID
          schema:
            type: string
        - name: engine
          in: query
          description: Filter by engine
          schema:
            type: string
            enum: [unity, godot, pico8, gamemaker, rpgmaker, construct, renpy]
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjects'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Projects
      summary: Create project
      description: Create a new project
      operationId: createProject
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /api/templates:
    get:
      tags:
        - Templates
      summary: List templates
      description: Get a paginated list of templates (public)
      operationId: listTemplates
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: engine
          in: query
          description: Filter by engine
          schema:
            type: string
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTemplates'

  /api/templates/{id}:
    get:
      tags:
        - Templates
      summary: Get template
      description: Get a template by ID or slug
      operationId: getTemplate
      parameters:
        - name: id
          in: path
          required: true
          description: Template ID or slug
          schema:
            type: string
      responses:
        '200':
          description: Template found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '404':
          description: Template not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/deployments:
    get:
      tags:
        - Deployments
      summary: List deployments
      description: Get a paginated list of deployments
      operationId: listDeployments
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: projectId
          in: query
          description: Filter by project ID
          schema:
            type: string
        - name: userId
          in: query
          description: Filter by user ID
          schema:
            type: string
      responses:
        '200':
          description: List of deployments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeployments'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Deployments
      summary: Create deployment
      description: Create a new deployment
      operationId: createDeployment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeploymentRequest'
      responses:
        '201':
          description: Deployment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'

  /api/metrics:
    get:
      tags:
        - Metrics
      summary: Get metrics
      description: Get Prometheus-compatible metrics
      operationId: getMetrics
      responses:
        '200':
          description: Metrics in Prometheus format
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # TYPE http_requests_total counter
                  http_requests_total{method="GET",path="/api/health",status="200"} 150
                  http_requests_total{method="POST",path="/api/users",status="201"} 25

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from nocturnaID.org

  parameters:
    Page:
      name: page
      in: query
      description: Page number (1-indexed)
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Sort:
      name: sort
      in: query
      description: Field to sort by
      schema:
        type: string
    Order:
      name: order
      in: query
      description: Sort order
      schema:
        type: string
        enum: [asc, desc]
        default: asc

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          properties:
            database:
              $ref: '#/components/schemas/ServiceHealth'
            redis:
              $ref: '#/components/schemas/ServiceHealth'
            nats:
              $ref: '#/components/schemas/ServiceHealth'

    ServiceHealth:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy, unknown, not_configured]
        message:
          type: string

    Error:
      type: object
      properties:
        error:
          type: string
        requestId:
          type: string
          description: Request ID for tracking

    ValidationError:
      type: object
      properties:
        error:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              path:
                type: array
                items:
                  type: string
              message:
                type: string

    TokenVerification:
      type: object
      properties:
        valid:
          type: boolean
        user_id:
          type: string
        email:
          type: string
        roles:
          type: array
          items:
            type: string
        expires_at:
          type: string
          format: date-time

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string

    RefreshTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateUserRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        roles:
          type: array
          items:
            type: string

    PaginatedUsers:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        engine:
          type: string
        userId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateProjectRequest:
      type: object
      required:
        - name
        - userId
      properties:
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        engine:
          type: string
          default: unity
        userId:
          type: string

    PaginatedProjects:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Template:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        engine:
          type: string
        category:
          type: string
          nullable: true
        structure:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PaginatedTemplates:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Template'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Deployment:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: [pending, deploying, live, failed, rolled_back]
        environment:
          type: string
          enum: [staging, production]
        version:
          type: string
        url:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        deployedAt:
          type: string
          format: date-time
          nullable: true

    CreateDeploymentRequest:
      type: object
      required:
        - projectId
        - userId
        - version
      properties:
        projectId:
          type: string
        userId:
          type: string
        buildId:
          type: string
        environment:
          type: string
          enum: [staging, production]
          default: staging
        version:
          type: string

    PaginatedDeployments:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

